h1 {
  color: blueviolet;
  font-size: 4rem;
}

#btn-click{
  background-color: rgb(240, 107, 25);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  padding: 12px 60px;
  cursor: pointer;
  transition: 0.4s;
}

#btn-click:hover{
  background-color: rgb(255, 167, 2);
}

.img-dog{
  width: 500px;
  height: 600px;
}